---
BasedOnStyle: LLVM
AccessModifierOffset: "-4"
AlignAfterOpenBracket: BlockIndent
AlignConsecutiveMacros: "false"
AlignConsecutiveAssignments: "false"
AlignConsecutiveDeclarations: "false"
AlignEscapedNewlines: Right
AlignOperands: "true"
AlignTrailingComments: "false"
AllowAllArgumentsOnNextLine: "false"
AllowAllConstructorInitializersOnNextLine: "false"
AllowAllParametersOfDeclarationOnNextLine: "false"
AllowShortBlocksOnASingleLine: "false"
AllowShortCaseLabelsOnASingleLine: "false"
AllowShortFunctionsOnASingleLine: Empty
AllowShortIfStatementsOnASingleLine: Never
AllowShortLambdasOnASingleLine: Empty
AllowShortLoopsOnASingleLine: "false"
AlwaysBreakAfterDefinitionReturnType: None
AlwaysBreakAfterReturnType: None
AlwaysBreakBeforeMultilineStrings: "false"
AlwaysBreakTemplateDeclarations: "Yes"
BinPackArguments: "false"
BinPackParameters: "false"
BreakAfterAttributes: Never
BreakBeforeBinaryOperators: All
BreakBeforeBraces: Custom
BreakBeforeConceptDeclarations: Always
BreakBeforeTernaryOperators: "true"
BreakConstructorInitializers: AfterColon
BreakInheritanceList: AfterColon
BreakStringLiterals: "true"
ColumnLimit: "100"
CompactNamespaces: "false"
ConstructorInitializerAllOnOneLineOrOnePerLine: "true"
ContinuationIndentWidth: "4"
Cpp11BracedListStyle: "true"
DerivePointerAlignment: "false"
DisableFormat: "false"
ExperimentalAutoDetectBinPacking: "false"
FixNamespaceComments: "true"
SortIncludes: "true"
IndentCaseLabels: "false"
IndentPPDirectives: BeforeHash
IndentWidth: "4"
IndentWrappedFunctionNames: "false"
InsertNewlineAtEOF: "true"
KeepEmptyLinesAtTheStartOfBlocks: "false"
NamespaceIndentation: None
PenaltyReturnTypeOnItsOwnLine: "999999"
PointerAlignment: Left
QualifierAlignment: Left
ReferenceAlignment: Pointer
RequiresClausePosition: OwnLine
SeparateDefinitionBlocks: Always
SortUsingDeclarations: "true"
SpaceAfterCStyleCast: "false"
SpaceAfterLogicalNot: "false"
SpaceAfterTemplateKeyword: "true"
SpaceBeforeAssignmentOperators: "true"
SpaceBeforeCpp11BracedList: "true"
SpaceBeforeCtorInitializerColon: "true"
SpaceBeforeInheritanceColon: "true"
SpaceBeforeParens: ControlStatements
SpaceBeforeRangeBasedForLoopColon: "true"
SpaceInEmptyParentheses: "false"
SpacesInAngles: "false"
SpacesInCStyleCastParentheses: "false"
SpacesInContainerLiterals: "false"
SpacesInParentheses: "false"
SpacesInSquareBrackets: "false"
Macros:
  - "$class(x)=struct x"
Standard: c++20
TabWidth: "4"
UseTab: Never
